.header-container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin-left: 15%;
    padding: 20px 0;

    .header-bottom {
        font-size: 1.2em;
        width: 100%;

        ul {
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;

            li:not(:last-child) {
                padding-right: 10px;
            }

            a {
                color: $primary;
            }
        }
    }
}